<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= app.name %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    
    <script type="text/javascript">
    var debug = <%= app.debug %>;
    
    function log(s){return console.log(s);} //shortcut

    
  ///////////////////////////////////////////////////////////////////
 //    Payment Provider
////////////////////////////////////////////////////////////////
    var stripe_key = '<%= process.env.STRIPE_PUBLIC_DEV %>';
    Stripe.setPublishableKey(stripe_key);

    function stripeResponseHandler (status, response) {
      log(response);
      if (response.error) {
        $('#error').text(response.error.message);
        $('#error').slideDown(300);
        $('#stripe-form .submit-button').removeAttr("disabled");
        return;
      }

      var form = $("#payment-form");
      form.append("<input type='hidden' name='stripeToken' value='" + response.id + "'/>");

      $.post(
        form.attr('action'),
        form.serialize(),
        function (status) {
          if (status != 'ok') {
            $('#error').text(status);
            $('#error').slideDown(300);
          }
          else {
            $('#error').hide();
            $('#success').slideDown(300);
          }
          $('.submit-button').removeAttr("disabled");
        }
      );
    }


    $(function(){ //doc ready
      // http://stripe.com/docs/tutorials/forms
      $("#payment-form").submit(function(event) {
        log('submit');
        $('#error').hide();
        // disable the submit button to prevent repeated clicks
        $('.submit-button').attr("disabled", "disabled");

        var amount = $('#cc-amount').val(); // amount you want to charge in cents
        Stripe.createToken({
          number: $('.card-number').val(),
          cvc: $('.card-cvc').val(),
          exp_month: $('.card-expiry-month').val(),
          exp_year: $('.card-expiry-year').val()
        }, amount, stripeResponseHandler);

        // prevent the form from submitting with the default action
        return false;
      });
    })
    
    
    
    
    
      ///////////////////////////////////////////////////////////////////
      //   garbage
      ////////////////////////////////////////////////////////////////
    
    /*
    
    




      $(function(){ //document ready!
        log('document ready');
        wireStripe();
      });


       function wireStripe(){
        // http://stripe.com/docs/tutorials/forms
        $("#payment-form").submit(function(event) {
          $('#error').hide();
          // disable the submit button to prevent repeated clicks
          $('.submit-button').attr("disabled", "disabled");

          var amount = $('#cc-amount').val(); // amount you want to charge in cents
          Stripe.createToken({
            number: $('.card-number').val(),
            cvc: $('.card-cvc').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val()
          }, amount, stripeResponseHandler);

          // prevent the form from submitting with the default action
          return false;
        });//eo submit
      }//eo wirestripe function
      


      function stripeResponseHandler (status, response) {
        if (response.error) {
          log('error with stripe...')
          $('#error').text(response.error.message);
          $('#error').slideDown(300);
          $('#stripe-form .submit-button').removeAttr("disabled");
          return;
        } //end if
      

         var STRIPE_PUBLIC = '<%= process.env.STRIPE_PUBLIC %>';// " process.env.STRIPE_PUBLIC %>";
          var STRIPE_PUBLIC_DEV = '<%= process.env.STRIPE_PUBLIC_DEV %>' ;//' process.env.STRIPE_PUBLIC_DEV %>';
      
        log('stripe: '+STRIPE_PUBLIC_DEV);
        Stripe.setPublishableKey( STRIPE_PUBLIC_DEV );
          var form = $("#payment-form");
          form.append("<input type='hidden' name='stripeToken' value='" + response.id + "'/>");

          $.post(
            form.attr('action'),
            form.serialize(),
            function (status) {
              if (status != 'ok') {
                $('#error').text(status);
                $('#error').slideDown(300);
              }
              else {
                $('#error').hide();
                $('#success').slideDown(300);
              }
              $('.submit-button').removeAttr("disabled");
            }
          ); //eo post
        
        } //eo handler
        
       */

      
        
    
    </script>
    <script type="text/javascript">
   /*
      function logResponse(response) {
        if (console && console.log) {
          //console.log('The response was', response);
          console.log(response);
      }*/
      function logResponse(response){return log(response)}
      
      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          )}); //eo click...
        
      }); //eo dom ready
      
    </script>

  
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          
          
          console.log('user logged!');
          console.log(FB);
          window.location = window.location; //refresh current page... (shitty behavior.)
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="clearfix">
      <% if (user) { %>
      <p id="picture" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></p>

      <div>
        <h1>Welcome, <strong><%= user.name %></strong></h1>
        <p class="tagline">
          This is your app
          <a href="<%= app.link %>" target="_top"><%= app.name %></a>
        </p>

        <div id="share-app">
          <p>Share your app:</p>
          <ul>
            <li>
              <a href="#" class="facebook-button" id="postToWall" data-url="<%= url() %>">
                <span class="plus">Post to Wall</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url() %>">
                <span class="speech-bubble">Send Message</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                <span class="apprequests">Send Requests</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <% } else { %>
      <div>
        <h1>Welcome</h1>
        <div class="fb-login-button" data-scope="user_likes,user_photos,user_photo_video_tags,email,user_location,user_website,user_religion_politics,user_interests,user_education_history,user_birthday,user_about_me"></div>
        
        works: user_likes,user_photos,user_photo_video_tags,email
        
        ,user_work_history,offline_access,location,friends,languages,user_website
      </div>
      <% } %>
    </header>

    <section id="get-started">
      <p>Welcome to your Facebook app, running on <span>heroku</span>!</p>
      <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
    </section>

    <% if (user) { %>

    <section id="samples" class="clearfix">
      <h1>Examples of the Facebook Graph API</h1>

      <div class="list">
        <h3>A few of your friends</h3>
        <ul id="friends" class="friends">
          <% req.friends.forEach(function(friend) { %>
            <li>
              <a href="https://www.facebook.com/<%= friend.id %>" target="_top">
                <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" alt="<%= friend.name %>">
                <%= friend.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>

      <div class="list inline">
        <h3>Recent photos</h3>
        <ul id="photos" class="photos">
          <% req.photos.forEach(function(photo) { %>
            <li style="background-image: url(<%= photo.picture %>>);" class="<%= photo.link %>">
              <a href="<%= photo.link %>>" target="_top"></a>
            </li>
          <% }); %>
        </ul>
      </div>

      <div class="list">
        <h3>Things you like</h3>
        <ul id="likes" class="things">
          <% req.likes.forEach(function(like) { %>
            <li>
              <a href="https://www.facebook.com/<%= like.id %>" target="_top">
                <img src="https://graph.facebook.com/<%= like.id %>/picture?type=square" alt="<%= like.name %>">
                <%= like.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>

      <div class="list">
        <h3>Friends using this app</h3>
        <ul id="friends_using_app" class="friends">
          <% req.friends_using_app.forEach(function(friend) { %>
            <li>
              <a href="https://www.facebook.com/<%= friend.id %>>" target="_top">
                <img src="https://graph.facebook.com/<%= friend.id %>>/picture?type=square" alt="<%= friend.name %>">
                <%= friend.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>

    </section>

    <% } %>

    <section id="guides" class="clearfix">
      <h1>Learn More About Heroku &amp; Facebook Apps</h1>
      <ul>
        <li>
          <a href="https://www.heroku.com/?utm_source=facebook&utm_medium=app&utm_campaign=fb_integration" target="_top" class="icon heroku">Heroku</a>
          <p>Learn more about <a href="https://www.heroku.com/?utm_source=facebook&utm_medium=app&utm_campaign=fb_integration" target="_top">Heroku</a>, or read developer docs in the Heroku <a href="https://devcenter.heroku.com/" target="_top">Dev Center</a>.</p>
        </li>
        <li>
          <a href="https://developers.facebook.com/docs/guides/web/" target="_top" class="icon websites">Websites</a>
          <p>
            Drive growth and engagement on your site with
            Facebook Login and Social Plugins.
          </p>
        </li>
        <li>
          <a href="https://developers.facebook.com/docs/guides/mobile/" target="_top" class="icon mobile-apps">Mobile Apps</a>
          <p>
            Integrate with our core experience by building apps
            that operate within Facebook.
          </p>
        </li>
        <li>
          <a href="https://developers.facebook.com/docs/guides/canvas/" target="_top" class="icon apps-on-facebook">Apps on Facebook</a>
          <p>Let users find and connect to their friends in mobile apps and games.</p>
        </li>
      </ul>
      
  
     </section>





      <section id="misc"> 
        
        facepile...
        <!--
            <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=102452128776&amp;xfbml=1"></script><fb:facepile></fb:facepile>
 Hadcoded APP ID !! 

102452128776 farmville 
263229590416899 FB dev


24 photos    306188538557
        <br>
        22
        
        <iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2Fdevelopers.facebook.com&amp;size=large&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=218936571546789" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>
        <hr/>
        <iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2F24photos.org&amp;size=large&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=218936571546789" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>
        
        -->
        <hr/>
        
        <!-- TODO: set the facepile in a wrapper to remove FOUC. -->
      <div class="fb-facepile" data-href="http://24photos.org" data-size="large" data-max-rows="1" data-width="300"></div>
        
        
        
       <!--
        <br>
      3333
        <iframe src="//www.facebook.com/plugins/facepile.php?appId=102452128776&amp;size=large&amp;max_rows=1&amp;width=300&amp;colorscheme=light&amp;appId=218936571546789" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px;" allowTransparency="true"></iframe>
         -->
        <br>
        
        </section>





        <section id="payment">
    
    <div id="stripe-form">
      <form action="/plans/browserling_developer" method="POST" id="payment-form">
        <div class="form-row">
          <div class="cc-text">Card Number</div>
          <input type="text" size="30" autocomplete="off" class="card-number"/>
        </div>
        <div class="form-row">
          <div class="cc-text">CVC</div>
          <input type="text" size="4" autocomplete="off" class="card-cvc"/>
        </div>
        <div class="form-row">
          <div class="cc-text">Expiration (MM/YYYY)</div>
          <input type="text" size="2" class="card-expiry-month"/>
          <span> / </span>
          <input type="text" size="4" class="card-expiry-year"/>
        </div>
        <input type="hidden" name="amount" value="2000" id="cc-amount">
        <button type="submit" class="submit-button">Submit Payment</button>
      </form>
    </div>
    <div id="error" class="hidden"></div>
    <div id="success" class="hidden">Thanks for signing up at Browserling222!</div>
    
    </section>
    
  </body>
</html>

